{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Blog Posts</title>
  </head>
  <body>

    <!------------------------------------------------------- NAVBAR STARTS HERE ------------------------------------------------------------------------->
      {% include 'baseNavbar.html' %}
      <!------------------------------------------------------- NAVBAR ENDS HERE -------------------------------------------------------------------------->

      <!------------------------------------------------------- BIKE DISPLAY STARTS HERE -------------------------------------------------------------------> 
      <div class="row" style="margin-top: 5%; margin-bottom: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 2%;">
            <center>
                <h1>BLOG POSTS</h1>
            </center> 
            {% for blog in allblogs %}
                <div class="card" style="margin-bottom: 2%;">
                    <div class="row">
                      <div class="col">
                        <img  src="{{blog.blogImage.url}}" id="cardImg" alt="..." style="width: 100%;">  
                      </div>
                      <div class="col">
                        <div class="card-body" style="margin-top: 5%;">
                          <h2 class="card-title">{{blog.blogTitle}}</h2>
                          <p class="card-text" style="text-align: justify;">
                             {{blog.blogContent}}
                          </p>
                          <b><i>{{blog.blogOwner}}(Author)</i></b>
                          <hr>
                          {% if blog.blogLink != Null %}
                           <a href="{{blog.blogLink}}" class="btn btn-primary">More</a>
                          {% else %}
                            <p></p> 
                          {% endif %}
                          </div>
                      </div>
                    </div> 
                </div>
            {% endfor %}
        </div>
      <!--------------------------------------------------------------------------------------------------------->
      </div>
      <!------------------------------------------------------- BIKE DISPLAY ENDS HERE --------------------------------------------------------------------->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
    













    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>