{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <title>Login Page</title>
  </head>
  <body id="body">
    <div class="container">
        <center id="LoginHeading">
            <h1>Welcome to Wheeler's Hospital</h1>
        </center>
        <div class="row">
            <div class="col">
                <img src="{% static 'images/logo2.jpg' %}" id="logo">
              </div>
              <div class="col">
                <!-- <h1 id='login_heading'>Login form</h1> -->

                <form method="POST" action="" class="container">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername">Username</label>
                      <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>

                    <br><br>

                    <a href="{% url 'reg' %}">Don't have an account? Sign Up here</a>

                    <div class="row">
                        <div class="col">
                            <a href="https://www.facebook.com/">
                                <img id="socialmedia" src="{% static 'images/facebook.png' %}">
                            </a>
                            <a href="https://www.linkedin.com/home">
                                <img id="socialmedia" src="{% static 'images/linkedin.png' %}">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img id="socialmedia" src="{% static 'images/instagram.png' %}">
                            </a>
                            <a href="https://www.youtube.com/">
                                <img id="socialmedia" src="{% static 'images/youtube.png' %}">
                            </a>
                        </div>
                    </div>
                   
                </form>
            
                {% for message in messages %}
                    <p id="messages">{{message}}}</p>
                {% endfor %}
            
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
              </div>
        </div>
        <div>
            <center>
                Copyright &copy; 2019. All rights reserved
            </center>
        </div>
    </div>
    
  </body>
</html>