{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bikeRegistration.css' %}">
    <title>New request form</title>
  </head>
  <body>

    <!------------------------------------------------------- NAVBAR STARTS HERE ------------------------------------------------------------------------->
    {% include 'baseNavbar.html' %}
    <!------------------------------------------------------- NAVBAR ENDS HERE -------------------------------------------------------------------------->
    <center style="margin-top: 5%;">
      <h1>Bike service request form</h1>
    </center>
    <div class="container-fluid" style="margin-top: 2%;">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 90%; margin-left: 5%;">
            <img class="card-img-top" src="{{onlySelectedBikeRecord.bikeImage.url}}" alt="Card image cap">
            <center>
              <h1>{{onlySelectedBikeRecord.bikeUser}}'s BIKE</h1>
            </center>
            <hr>
            <div class="card-body">
              <label style="font-weight: bold;">Bike User</label><p class="card-text">{{onlySelectedBikeRecord.bikeUser}}</p><hr>
              <label style="font-weight: bold;">Bike Company</label><p class="card-text">{{onlySelectedBikeRecord.bikeCompany}}</p><hr>
              <label style="font-weight: bold;">Bike Model</label><p class="card-text">{{onlySelectedBikeRecord.bikeModel}}</p><hr>
              <label style="font-weight: bold;">Bike Number</label><p class="card-text">{{onlySelectedBikeRecord.bikeNumber}}</p><hr>
              <label style="font-weight: bold;">Bike Color</label><p class="card-text">{{onlySelectedBikeRecord.bikeColor}}</p><hr>
            </div>
          </div>
        </div>

        <div class="col">
          
              <form method="POST" action="" enctype="multipart/form-data" style="width: 70%; margin-left: 10%;">
                  {% csrf_token %}
                  <!-- {% for i in fm %}
                      {{i | as_crispy_field}}<br>
                  {% endfor %} -->
                  {{fm.serviceUser.label}}{{fm.serviceUser}}<br>
                  {{fm.serviceCompany.label}}{{fm.serviceCompany}}<br>
                  {{fm.serviceModel.label}}{{fm.serviceModel}}<br>
                  {{fm.serviceNumber.label}}{{fm.serviceNumber}}<br>
                  {{fm.serviceColor.label}}{{fm.serviceColor}}<br>
                  {{fm.pickup.label}}{{fm.pickup}}<br>
                  {{fm.delivery.label}}{{fm.delivery}}<br>
                  {{fm.kmcovered.label}}{{fm.kmcovered}}<br>
                  {{fm.contact.label}}{{fm.contact}}<br>
                  {{fm.problem.label}}{{fm.problem}}<br>
                  {{fm.completed.label}}{{fm.completed}}<br>
                  {{fm.serviceDate.label}}{{fm.serviceDate}}<br>
                  {{fm.deliveryTime.label}}{{fm.deliveryTime}}<br>



                  <input type="submit" value="submit" class="btn btn-primary">
              </form>
        </div>
      </div>
    </div> 
      <br>   
      </div>
      
     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
    












