<!-- <form method="POST" action="">
    {% csrf_token %}
    {{ registerForm.as_p }}
    {% for fields in registerForm %}
        {{ fields.label }}
        {{ fields }}
    {% endfor %}

    

    {{ registerForm.username.label }} {{ registerForm.username }}
    {{ registerForm.email.label }} {{ registerForm.email }}
    {{ registerForm.password1.label }} {{ registerForm.password1 }}
    {{ registerForm.password2.label }} {{ registerForm.password2 }}

    <input type="submit" name="Create User">
</form> -->
{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <title>Registration Form</title>
  </head>
  <body>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'images/register.jpg' %}" id="registerImage">
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  <p id="messages">{{message}}</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
            <div class="col">
                <h1>Registration form</h1>

                    <form class="container" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                        {{registerForm.username | as_crispy_field }}
                            
                        </div>
                        <div class="form-group">
                        {{ registerForm.email | as_crispy_field }}
                        </div>
                        <div class="form-group">
                        {{ registerForm.password1 | as_crispy_field}}
                        </div>
                        <div class="form-group">
                        {{ registerForm.password2 | as_crispy_field}}
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br><br>
                        <a href="{% url 'login' %}">Already have an account? Go back to login page</a>
                    </form>

                    <!-- {{registerForm.errors}} -->

                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            </div>
        </div>
    </div>
  </body>
</html>