{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bikeRegistration.css' %}">
    <title>Status</title>
  </head>
  <body>

    <!------------------------------------------------------- NAVBAR STARTS HERE ------------------------------------------------------------------------->
    {% include 'baseNavbar.html' %}
      <!------------------------------------------------------- NAVBAR ENDS HERE -------------------------------------------------------------------------->

      <!------------------------------------------------------- BIKE REGISTRATION FORM STARTS HERE -------------------------------------------------------------------------->
      <div class="row">

      {% if count >= 1 %}
        <center>
          <h1>SERVICE REQUEST FORM</h1>
        </center> 

        <form method="POST" action="" enctype="multipart/form-data" style="width: 50%; margin-left: 25%;">
          {% csrf_token %}
          {% for i in normalServiceRequestForm %}
            {{i | as_crispy_field}}
            <br>
          {% endfor %}        

          <input type="submit" name="submit" value="submit" class="btn btn-primary">
        </form>  
      {% endif %}  


  
    <center style="margin-top: 5%;">
      <h1>STATUS OF BIKE IN SERVICING CENTER</h1>
    </center>      
      <table class="table-responsive-md" style="margin-top: 2%; width:100%; table-layout: fixed;">
          <tr>
            <th scope="col" style="text-align: center; word-break:break-all;" >Service User</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Bike Color</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Bike Number</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Bike model</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Bike Company</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Pickup Location</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Delivery Location</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Distance Covered(km)</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Contact Number</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Problem</th>
            <th scope="col" style="text-align: center; word-break:break-all;" >Status</th>
          </tr>
         
          {% for i in stat %}
            <tr>
                <td style="word-break:break-all;">{{i.serviceUser}}</td>
                <td style="word-break:break-all;">{{i.serviceColor}}</td>
                <td style="word-break:break-all;">{{i.serviceNumber}}</td>
                <td style="word-break:break-all;">{{i.serviceModel}}</td>
                <td style="word-break:break-all;">{{i.serviceCompany}}</td>
                <td style="word-break:break-all;">{{i.pickup}}</td>
                <td style="word-break:break-all;">{{i.delivery}}</td>
                <td style="word-break:break-all;">{{i.kmcovered}}</td>
                <td style="word-break:break-all;">{{i.contact}}</td>
                <td style="word-break:break-all;">{{i.problem}}</td>
                <td style="word-break:break-all;"><b>{{i.completed}}</b></td>
            

                
                {% if i.completed != "On going" %}
                  <td>
                    <a class="btn btn-primary" type="button" href="/update/{{i.id}}">Update</a>
                    <hr>
                    <a class="btn btn-danger" type="button" href="/status/delete/{{i.id}}">Delete</a>
                  </td>
                {% endif %}
                
            </tr>              
          {% endfor %}
          
      </table>
      <br>
      <br>
      <br>   
      </div>
      <!------------------------------------------------------- BIKE REGISTRATION FORM ENDS HERE -------------------------------------------------------------------------->

     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
    












