{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bikeRegistration.css' %}">
    <title>Status</title>
  </head>
  <body>

    <!------------------------------------------------------- NAVBAR STARTS HERE ------------------------------------------------------------------------->
    {% include 'baseNavbar.html' %}
      <!------------------------------------------------------- NAVBAR ENDS HERE -------------------------------------------------------------------------->

      <!------------------------------------------------------- BIKE REGISTRATION FORM STARTS HERE -------------------------------------------------------------------------->
      <div class="row">  
    <center style="margin-top: 5%;">
      <h1>STATUS OF BIKE IN SERVICING CENTER</h1>
    </center>   
      <h2>Table View</h2>   
      <table class="table table-bordered" style="margin-top: 2%; margin-bottom: 5%;width:100%; table-layout: fixed;">
          <tr>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all;" >Service User</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all;" >Bike Color</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all;" >Bike Number</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all;" >Bike model</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all; width: 10%;" >Bike Company</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all; width: 10%;">Pickup Location</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all; width: 10%;" >Delivery Location</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all; width: 10%;" >Distance Covered<br>(in kilometers)</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all; width: 10%;" >Contact Number</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all;" >Problem</th>
            <th scope="col" style="font-size: small; text-align: center; word-break:break-all;" >Status</th>
          </tr>
         
        
          
          {% for i in stat %}
            <tr>    
              {% for x,y in num_img %}
                {% if x == i.serviceNumber %}
                        <td style="word-break:break-all; font-size: small;">
                          <center>{{i.serviceUser}}</center>
                          <img class="card-img-top" src="{{y}}" alt="Card image cap">
                        </td>
                        <td style="word-break:break-all; font-size: small;">{{i.serviceColor}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.serviceNumber}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.serviceModel}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.serviceCompany}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.pickup}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.delivery}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.kmcovered}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.contact}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.problem}}</td>
                        <td style="word-break:break-all; font-size: small;">{{i.completed}}</td>
                    

                        
                      {% if i.completed == "Not Completed" %}
                          <td style="word-break:break-all; font-size: small;">
                            <center>
                              <a class="btn btn-primary" style="font-size: small; margin-bottom: 5%;" type="button" href="/update/{{i.id}}">Update</a>
                              <a class="btn btn-danger" style="font-size: small;" type="button" href="/status/delete/{{i.id}}">Delete</a>
                            </center>
                          </td>
                      {% elif i.completed == "Completed" %}    
                          <td style="word-break:break-all; font-size: small;">
                            <center>
                              <img src="{% static 'images/tick.jpg' %}" style="width: 50%;"><br>
                              Servicing <br>completed<br>
                              <a class="btn btn-danger" style="font-size: small;" type="button" href="/status/delete/{{i.id}}">Delete</a>
                            </center>
                          </td>
                      {% else %}
                          <td style="word-break:break-all; font-size: small;">
                            <center>
                              <img src="{% static 'images/onGoing.jpg' %}" style="width: 50%;">
                              <p>Servicing <br>On going</p>  
                            </center>
                          </td>   
                      {% endif %} 
                {% endif %}
              {% endfor %}        
                
            </tr>            
          {% endfor %}
          
      </table>
      <hr>
      <h2 style="margin-top: 2%; margin-bottom: 2%;">Card View</h2>
      {% for i in stat %}
          {% for x,y in num_img %}
            {% if x == i.serviceNumber %}
              <div class="card" style="width: 28rem; margin-left: 2%; margin-bottom: 2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 2%;">
                <img class="card-img-top" src="{{y}}" alt="Card image cap">
                <hr>
                <div class="card-body">
                  <h5 class="card-title"><b>Service User: </b>{{i.serviceUser}}</h5>
                  <p class="card-text"><b>Bike Color:</b> {{i.serviceColor}}</p>
                  <p class="card-text"><b>Bike Number:</b> {{i.serviceNumber}}</p>
                  <p class="card-text"><b>Bike Model:</b> {{i.serviceModel}}</p>
                  <p class="card-text"><b>Bike Company:</b> {{i.serviceCompany}}</p>
                  <p class="card-text"><b>Pickup Location:</b> {{i.pickup}}</p>
                  <p class="card-text"><b>Distance in KM:</b> {{i.kmcovered}}</p>
                  <p class="card-text"><b>Contact Number:</b> {{i.contact}}</p>
                  <p class="card-text"><b>Servicing Status:</b> {{i.completed}}</p>
                  <p class="card-text"><b>Problems:</b> {{i.problem}}</p>
                  <hr>
                  <center>
                    {% if i.completed == "Not Completed" %}
                          <div style="word-break:break-all; font-size: small;">
                            <center>
                              <a class="btn btn-primary" style="font-size: small;" type="button" href="/update/{{i.id}}">Update</a>
                              <a class="btn btn-danger" style="font-size: small;" type="button" href="/status/delete/{{i.id}}">Delete</a>
                            </center>
                          </div>
                      {% elif i.completed == "Completed" %}    
                          <div style="word-break:break-all; font-size: small; background-color:green;">
                            <b style="color: white;">SERVICING COMPLETED</b>
                          </div><br>
                          <a class="btn btn-danger" style="font-size: small;" type="button" href="/status/delete/{{i.id}}">Delete</a>
                      {% else %}
                          <div style="word-break:break-all; font-size: small; background-color:yellow;">
                            <b style="color: black">THEY ARE SERVICING YOUR BIKE</b>
                          </div>   
                      {% endif %} 
                  </center>
                </div>
              </div>
            {% endif %}
          {% endfor %}
      {% endfor %}
      </div>
      <!------------------------------------------------------- BIKE REGISTRATION FORM ENDS HERE -------------------------------------------------------------------------->

     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
    












